/**
 * Declaring variables
 */
.root {
    medium-gray: #97C1EA;
    alt-gray: #e0e9ff;
    light-gray: #f5f7ff;
    dark-gray: #0066CC;
    white: #e3e3e3;
    -fx-font-size: 14px;
}

.root {
    -fx-background-color: dark-gray;
    -fx-text-fill: white;
}

/**
* Title
 */
Text {
    -fx-fill: white;
}

/**
* Placeholder background of table
 */
TableView {
    -fx-background-color: medium-gray;
    -fx-padding: 0;
}

/**
* Placeholder text
 */
TableView:row-selection .placeholder .label .text {
    -fx-text-fill: white;
    -fx-fill: white;
}


/**
 Thank you senpai - https://edencoding.com/style-tableview-javafx/
 */

/*
* Tableview column colors
 */
TableView .table-cell {
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-border-width: 0;
}

TableView .table-column {
    -fx-border-width: 0 2px 0 0;
    -fx-border-color: medium-gray;
    -fx-border-padding: 0;
}

TableView .column-header {
    -fx-border-width: 0 2px 2px 0;
}

TableView .table-column:last-visible, .table-view:row-selection .column-header-background .nested-column-header .table-column:last-visible {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 0;
    -fx-margin: 0;
}
.table-view:row-selection .column-header-background .nested-column-header .table-column:last-visible {
    -fx-border-width: 0 0 2px 0;

}

/*
* Tableview columns colors
 */
TableView .table-row-cell {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}
TableView .table-row-cell:even {
    -fx-background-color: alt-gray;
}
TableView .table-row-cell:odd {
    -fx-background-color: light-gray;
}

/**
*Top row color
 */
.table-view .column-header-background .filler,
.table-view .column-header,
.table-view .column-header .text {
    -fx-background-color: medium-gray;
    -fx-text-fill: white;
    -fx-fill: #3b3b3b;
}
/**
*Top row color hover
 */
.table-view .column-header-background .filler:hover,
.table-view .column-header:hover,
.table-view .column-header:hover .text {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-fill: black;
}

/**
* Highlighted row
 */
.table-row-cell:selected, .table-row-cell:selected .text {
    -fx-background-color: medium-gray;
    -fx-fill: black;
}

.radio-button .text, .check-box .text{
    -fx-text-fill: white;
    -fx-fill: white;
}

/*button styles*/

/*default button settings*/

/*bgcolor setting*/
.color-picker,.date-picker > .arrow-button,
.number-button,.left-arrow-button,.right-arrow-button,
.button,.split-menu-button,.toggle-button,.menu-button,
.font-menu-button, .split-menu-button > .label, .split-menu-button > .arrow-button {
    -fx-background-color: white;
}