/**
 * Declaring variables
 */
.root {
    navy-dark: #006666;
    navy-white: #e3e3e3;
    navy-alt-white: #eeeeee;
    navy-light: #7ad8ba;
    -fx-font-size: 14px;
}

.root {
    -fx-background-color: navy-dark;
    -fx-text-fill: navy-white;
}

/**
* Title
 */
Text {
    -fx-fill: navy-white;
}

/**
* Placeholder background of table
 */
TableView {
    -fx-background-color: navy-light;
    -fx-padding: 0;
}

/**
* Placeholder text
 */
TableView:row-selection .placeholder .label .text {
    -fx-text-fill: black;
    -fx-fill: black;
}


/**
 Thank you senpai - https://edencoding.com/style-tableview-javafx/
 */

/*
* Tableview column colors
 */
TableView .table-cell {
    -fx-border-color: transparent;
    -fx-text-fill: #3d3d3d;
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-border-width: 0;
}

TableView .table-column {
    -fx-border-width: 0 2px 0 0;
    -fx-border-color: navy-dark;
    -fx-border-padding: 0;
}

TableView .table-column:last-visible, .table-view:row-selection .column-header-background .nested-column-header .table-column:last-visible {
    -fx-border-color: navy-dark;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-margin: 0;
}

/*
* Tableview columns colors
 */
TableView .table-row-cell {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}
TableView .table-row-cell:even {
    -fx-background-color: navy-white;
}
TableView .table-row-cell:odd {
    -fx-background-color: navy-alt-white;
}

/**
*Top row color
 */
.table-view .column-header-background .filler,
.table-view .column-header {
    -fx-background-color: navy-light;
}
/**
*Top row color hover
 */
.table-view .column-header-background .filler:hover,
.table-view .column-header:hover,
.table-view .column-header:hover .text {
    -fx-background-color: navy-dark;
    -fx-text-fill: navy-white;
    -fx-fill: navy-white;
}

/**
* Highlighted row
 */
.table-row-cell:selected, .table-row-cell:selected .text {
    -fx-background-color: navy-dark;
    -fx-fill: navy-white;
}

.radio-button .text, .check-box .text{
    -fx-text-fill: navy-white;
    -fx-fill: navy-white;
}

/*button styles*/

/*default button settings*/

/*bgcolor setting*/
.color-picker,.date-picker > .arrow-button,
.number-button,.left-arrow-button,.right-arrow-button,
.button,.split-menu-button,.toggle-button,.menu-button,
.font-menu-button, .split-menu-button > .label, .split-menu-button > .arrow-button {
    -fx-background-color: navy-white;
}

.table-view:row-selection .column-header-background .nested-column-header .table-column:last-visible {
    -fx-border-width: 0 0 2px 0;

}

TableView .column-header {
    -fx-border-width: 0 2px 2px 0;
}